<!DOCTYPE html>
<html>
<head>
  <title>Social App</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
  <link href="app.css" type="text/css" rel="stylesheet" />
</head>
<body data-ng-app="SocialApp" data-ng-controller='ApplicationCtrl as appCtrl'>
  
  <nav class='navbar navbar-default'>
    <div class='container'>
      <ul class='nav navbar-nav'>
        <li><a href='/#/'>Posts</a></li>
        <li><a href='/#/register'>Register</a></li>
        <li><a href='/#/login'>Login</a></li>
      </ul>
      <p data-ng-if='appCtrl.currentUser' class='navbar-text navbar-right'>
        Signed in as {{appCtrl.currentUser.username}}
      </p>
    </div>
  </nav>

  <div data-ng-view></div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
  <script src="app.js"></script>
</body>
</html>