<!DOCTYPE html>
<html>
<head>
  <title>Social App</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
  <link href="app.css" type="text/css" rel="stylesheet" />
</head>
<body data-ng-app="SocialApp">
  
  <div data-ng-view></div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
  <script src="app.js"></script>
</body>
</html>